<DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700 | Abril+Fatface rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">
      <title>Converter</title>
    </head>
    <body ng-app="myApp">
      <div class="app-wrapper" ng-controller="myController as mc">
        <h1 class="app-title">Currency converter</h1>
        <div class="app-content">
          <ul class="tab-label">
            <li
              class="active"
              ng-class="{'active':mc.activeTab}"
              ng-click="mc.activeTab=true"
            >
              sell
            </li>
            <li
              ng-click="mc.activeTab=false"
              ng-class="{'active':!mc.activeTab}"
            >
              buy
            </li>
          </ul>
          <div class="tabs-content">
            <div ng-show="mc.activeTab" class="tabs-content-sell">
              <div class="currency-line">
                <label>
                  <p>give back</p>
                  <select
                    name="currency-sell"
                    ng-model="mc.currencyFrom"
                    ng-change="mc.convertValue()"
                    ng-options='item.ccy for item in mc.currency | currencyFilter: mc.currencyTo.ccy'
                  >
                  <option value="Choose currency"></option>
                  </select>
                </label>
                <button ng-click="mc.changeValues($event)">&#8660;</button>
                <label>
                  <p>we get</p>
                  <select
                    name="currency-buy"
                    ng-model="mc.currencyTo"
                    ng-change="mc.convertValue()"
                    ng-options='item.ccy for item in mc.currency | currencyFilter: mc.currencyFrom.ccy'
                  >
                  <option value="Choose currency" default></option>
                  </select>
                </label>
              </div>
              <div class="counter-line">
                <label>
                  <p>How much to exchange</p>
                  <input
                    type="number"
                    min="0"
                    ng-model="mc.countVal"
                    ng-change="mc.convertValue()"
                  />
                </label>
                <label>
                  <p>How much will we get</p>
                  <input type="text" readonly ng-model="mc.costVal" ng-value="mc.costVal | number:2"/>
                </label>
              </div>
              <div class="bottom-btns-wrap">
                  <label>
                      Commission 
                       <select name="commission" ng-model="mc.commissionValue" ng-change="mc.addCommissions($event)" ng-options='item as item for item in mc.percentageTax'>
                    </select>
                    %
                    </label>
                <select name="city" ng-model="mc.city" ng-options='item as item for item in mc.citiesLocation'>
                </select>
              </div>
            </div>
            <div ng-show="mc.activeTab === false" class="tabs-content-buy">
              <div class="currency-line">
                <label>
                  <p>give back</p>
                  <select
                    name="currency-sell"
                    ng-model="mc.currencyFrom"
                    ng-change="mc.convertValue()"
                    ng-options='item.ccy for item in mc.currency | currencyFilter: mc.currencyTo.ccy'
                  >
                  </select>
                </label>
                <button ng-click="mc.changeValues()">&#8660;</button>
                <label>
                  <p>we get</p>
                  <select
                    name="currency-buy"
                    ng-model="mc.currencyTo"
                    ng-change="mc.convertValue()"
                    ng-options='item.ccy for item in mc.currency | currencyFilter: mc.currencyFrom.ccy'
                  >
                  </select>
                </label>
              </div>
              <div class="counter-line">
                <label>
                  <p>How much to exchange</p>
                  <input
                    type="number"
                    min="0"
                    ng-model="mc.countVal"
                    ng-change="mc.convertValue()"
                  />
                </label>
                <label>
                  <p>How much will we get
                  </p>
                  <input type="text" readonly ng-model="mc.costVal" ng-value="mc.costVal | number:2"/>
                </label>
              </div>
              <div class="bottom-btns-wrap">
                <label>
                  Commission 
                   <select name="commission" ng-model="mc.commissionValue" ng-change="mc.addCommissions($event)" ng-options='item as item for item in mc.percentageTax'>
                </select>
                %
                </label>
                <select name="city" ng-model="mc.city" ng-options='item as item for item in mc.citiesLocation'>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js"></script>
      <script src="js/index.js"></script>
    </body>
  </html>
</DOCTYPE>
