<div class="main-wrapper">
    <nav class="menu-wraper">
        <ul class="menu-wraper-content">
          <li>
              <a ui-sref="main.home" ui-sref-active="active">Home</a>
          </li>
          <li>
              <a ui-sref="main.converter" ui-sref-active="active">Converter</a>
          </li>
          <li>
              <a ui-sref="main.contacts" ui-sref-active="active">Contacts</a>
          </li>
          <li>
              <a ui-sref="login.logout" ui-sref-active="active">Log Out</a>
          </li>
        </ul>
      </nav>
      <ui-view></ui-view>
</div>